[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wagtail = "*"
django-contact-form = {extras = ["akismet"],version = "*"}

[requires]
python_version = "3.7"
